<div class="ion-page" id="main-content">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-buttons slot="start">
				<ion-menu-button></ion-menu-button>
			</ion-buttons>
			<ion-title>InstantsGram</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-grid>
			<ion-row>
				<ion-col>
					<h1>Share your moments</h1>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<ion-card *ngFor="let item of items">
						<img [src]="item.image">
						<ion-card-header>
							<ion-card-subtitle>Destination {{item.location}}</ion-card-subtitle>
							<ion-card-title>{{item.title}}</ion-card-title>
						</ion-card-header>
						<div class="btn-show-details">
							<ion-button [routerLink]="['/details', item.id]">
								<ion-icon name="arrow-redo-circle-outline"></ion-icon>
								Voir
							</ion-button>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-content>
</div>